@model Vidly_1.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Random";
}

@{
    var className = Model.Customer.Count > 1 ? "popular" : null;
}

<h2 class="@className">Movies</h2>

@if (Model.Customer.Count == 0)
{
    <p>No one has rented this movie before.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Movie</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model.Customer)
            {
                <tr>
                    <td>@customer.Name</td>

                </tr>
            }
        </tbody>
    </table>
}

